@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

/*****************************************FOOTER*************************/

.footerP {
  text-align: justify;
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  left: 0px;
  position: fixed;
  background-color: #bdbebd;
  bottom: 0px;
  width: 100%;
}

/*******************************NAVBAR***************************/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

/****************************SLIDER****************************/

.appWrapper {
  display: flex;
  justify-content: center;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #bdbebd;
  width: 50%;
  height: 20%;
  margin: 0px;
  padding: 40px;
}

.slider {
  width: 60%;
  height: 30%;
}
