@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

/*****************************************FOOTER*************************/

.footerP {
  text-align: justify;
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  left: 0px;
  position: fixed;
  background-color: #bdbebd;
  bottom: 0px;
  width: 100%;
}

/*********************************SERVICES****************************/
.containerServices {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

/*******************************NAVBAR***************************/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
/* 
.containerNavbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
} */
.navSection {
  float: left;
  width: 20%;
}
.barra {
  margin-left: 10px;
  margin-right: 10px;
}

/****************************SLIDER****************************/

/* .appWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-x: hidden;
  width: 100%;
} */

.carousel-container {
  border: 8px solid black;
  display: flex;
  align-items: center;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  width: 60%;
}

.carousel-img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 250px;
}

/********************************************PRUEBA***************************/

.slider {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  position: relative;
  width: 350px;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
}
.slider__container {
  position: relative;
  margin: auto;
  padding: 0;
  list-style: none;
}
.slider__item {
  position: relative;
  margin: 0;
  padding: 0;
  width: 350px;
  height: 200px;
  transition: all 0.4s ease;
}
.slider__prev {
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  padding: 4% 3%;
  width: auto;
  height: auto;
  z-index: 999;
  background: #a2a2a2;
  color: #ffffff;
  /* font-weigtht: 600;
      opactiy: 0.8; */
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.slider__next {
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  padding: 4% 3%;
  width: auto;
  height: auto;
  z-index: 999;
  background: #a2a2a2;
  color: #ffffff;
  /* font-weigtht: 600;
      opactiy: 0.8; */
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

/****************************SLIDE PRUEBA************************/
App.css .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

.App-link {
  color: #09d3ac;
}

body {
  background: grey;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}
